<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Default title for my pages</title>
<link rel="stylesheet" href="/css/basic.css" />
</head>
<body>
	<!-- background element -->
	<div class="parallax"></div>
	<!-- content container -->
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6" layout:fragment="content">Page content
				goes here</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	<th:block layout:fragment="scripts"></th:block>
	<div id="footer">Photo by Robert Shunev on Unsplash</div>
</body>
</html>